/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* Fondo general */
body{
    background:#d9d2c0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Contenedor principal */
.contenedor{
    width:100%;          /* ocupa casi toda la pantalla */
    max-width:1200px;   /* límite máximo */
    text-align:center;
}

/* Logo */
#logo{
    width:150px;
    height:150px;
    margin:0 auto 20px auto;
    background-image:url("../img/logo.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
}

/* Título */
h5{
    color:#2c4e8a;
    font-size:20px;
    margin-bottom:20px;
    font-weight:500;
}

/* 🔥 GRID para 2 columnas */
.contenedor{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.datos{
    display:flex;
    width: 500px;;                 /* mitad del contenedor */
    height:55px;
    margin:20px;
}

/* Contenedor de inputs en filas */
.contenedor .datos:nth-child(3),
.contenedor .datos:nth-child(4){
    display:flex;
}

/* Agrupación en dos columnas */
.contenedor{
    flex-wrap:wrap;
}

/* Icono */
.icon{
    width:55px;
    height: 100%;
    background:#e0e0e0;
    border:1px solid #333;
    border-right:none;
    border-radius:20px 0 0 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon img{
    width:26px;
    opacity:0.6;
}

/* Input */
.datos input{
    flex:1;
    border:1px solid #333;
    border-left:none;
    border-radius:0 20px 20px 0;
    background:#e0e0e0;
    font-size:16px;
    outline:none;
    padding-left:0px;
}

.datos input:focus{
    background:#e0e0e0;
}

/* Botón */
button{
    width: 400px;;
    padding:14px;
    border:none;
    border-radius:25px;
    background:#d6b632;
    color:white;
    font-size:20px;
    cursor:pointer;
    margin-top:40px;
    transition:0.3s;
    box-shadow: 0 4px 0 #8f7a1e;
}

button:hover{
    background:#c7a82c;
}

/* Links */
.link{
    margin-top:25px;
    font-size:16px;
    color:#2c4e8a;
}

.registro{
    color:#e67e22;
    text-decoration:none;
    cursor: pointer;
}

.registro:hover{
    text-decoration:underline;
}

.fila{
    display:flex;
    justify-content:center;
    gap:20px;
}

/* Pie */
.pieP{
    margin-top:50px;
    color:#888;
    font-size:14px;
}
